<!DOCTYPE html>
<html>
<head>
  <title>Unity</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
